#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Neovim
GenericName=Text Editor
Type=Application
Exec=sh -c ~/.nvim_startup
Terminal=true
Icon=nvim
StartupNotify=false
